body,
html {
  height: 100%;
  background-color: #fbd5d5;
  width: auto;
}

body {
  padding-top: 50px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #847366a6 !important;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #847366e0;
  color: white;
}

.bg-4 {
  outline: none;
  background-color: #847366a6;
}

footer {
  display: block;
}

/*for Heading name*/
.edit {
  text-shadow: 2px 2px 5px #fbd5d5;
  color: #333;
}

.btn-primary {
  background-color: rgba(51, 51, 51, 0.781) !important;
}

.btn-primary:hover {
  background-color: rgba(51, 51, 51, 0.527) !important;
}

.container-fluid {
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
.jumbotron {
  background-color: #fbd5d5 !important;
  text-align: center;
}
.panel-heading {
  background-color: #847366a6 !important;
}
form {
  background-color: #847366a6;
  padding: 20px 40px 60px;
  margin: 0px 0px 50px;
  border: 2px solid GREY;
  border-radius: 5%;
  position: center;
}
label a {
  color: #333;
}
